*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #333;
}

#header {
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 100%;
    font-weight: bold;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.498);
}

.mainSection {
    width: 80%;
    margin: auto;
}

.doubleButton {
    display: flex;
    flex-direction: column;
   width: 50%;
   margin: auto;
}

#groups{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group{
    font-size: 20px;
    border: 2px solid white;
    /* width: 50%; */
    margin: 10px;
    padding: 20px;
}

.people{
    margin: 5px 0px;
}

input {
    padding: 10px
}

.input-btn {
    width: 30%;
    border-radius: 4%;
    /* border: none; */
    margin:  30px auto;
    background: rgba(255, 0, 0, 0.498);
    color: white;
    text-transform: uppercase;
    
}
#nbrPerGroup{
    width: 20%;
    margin: auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin:  30px auto;
}
